MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/executex
UPSTASH_REDIS_REST_URL=https://...
UPSTASH_REDIS_REST_TOKEN=...
SENTRY_DSN=https://...@sentry.io/...
ALLOWED_ORIGIN=http://localhost:5173
